.N{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px blue;
}
.note{
    font-size: 15px;
    color: rgb(100, 0, 0);
}
.copy_right_footer{
    position: fixed;
    color: rgb(0, 0, 86);
    width: 100%;
    background-color: gray;
    text-align: center;

}
canvas{
    border: 5px solid rgb(86, 1, 1);
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
}
